/**
 * Column reorder goodies.
 */
 .public_fixedDataTableCell_main:hover .fixedDataTableCellLayout_columnReorderContainer {
  border-color: #0284ff;
  background-color: rgba(0,0,0,0.1);
  float: left;
  cursor: move;
}

.fixedDataTableCellLayout_columnReorderContainer {
  width: 12px;
  margin-right: -12px;
  float: left;
  cursor: move;
}

.fixedDataTable_isRTL .fixedDataTableCellLayout_columnReorderContainer {
  margin-right: auto;
  margin-left: -12px;
  float: right;
}

.public_fixedDataTableCell_main:hover .fixedDataTableCellLayout_columnReorderContainer:after {
	content: '⋮⋮';
	position: absolute;
  left: 1px;
  top: 49%;
  font-size: 15px;
	transform: translateY(-50%);
}

.fixedDataTable_isRTL .fixedDataTableCellLayout_columnReorderContainer:after {
  left: auto;
  right: 1px;
}
