 .statusWidth{
     width: 100%;
     color:white;
 }
 .status:after {
    content:"";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    border-top: 15px solid white;
    border-right: 15px solid transparent;
  } 
  
 .status:before {
  content:"";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 15px solid#eee;
  border-left: 15px solid transparent;
  -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
  box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
} 

.user{
    margin:5px 0px;
    width:'100%';
    cursor: pointer;
}
.user:hover{
    background: #009AFF;
    color:white;
    border-radius: 3px;
}
.user Avatar{
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
} 

.userOptions{
    display: none;
}
.userAvatar{
    margin-top: 17px;
    cursor: pointer;
}
.PlusCircleFilled
{
    color: #009AFF;
    position:absolute;
    top:12px;
    left:3px;
    display: none;
}

.CloseCircleFilled{
    color: #cccccc;
    position:absolute;
    top:12px;
    left:85px;
    display: none;
}

.userBars{
    display:none
}

.userAvatar:hover + .PlusCircleFilled{
    display:block;
 }

 .userAvatar:hover + .CloseCircleFilled{
    display:none;
 }

.userIcon:hover + .PlusCircleFilled{
    display:block;
 }
  
 .moreUserAvatar{
    cursor: pointer;
    right:10px;
    background:#333333;
    color:white;
 }
  
 .userTag{
    border-radius:15px;
    margin:3px
 }
 .ant-tag-hidden{
    display: block; 
 }