@font-face {
  font-family: 'Roboto';
  src: url('roboto/Roboto-Regular.ttf') format('truetype');
       /* font-weight: bold; */
       font-size: 13px !important;
  }
body {
  margin: 0;
  font-family: "Roboto" !important;
  /* font-weight:  300; */
  /* letter-spacing: 1.2px; */
  color:#16191F;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
  width: 100%;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
