.ant-layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
  background: white !important;
}
.ant-collapse {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  background-color: white !important;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 2px;
}
.collpseBar{
  font-size: 14px;
  // border:none;
}
.collpseBarTop{
  height:15px;
  width:11px;
  border-right:1px solid #d4d4d5 !important;
}
.leftBar{
  width:70px;
  max-height:100%;
  background:#292f4c;
}
.collpseBarBottom{
  height:100%;
  width:11px;
  border-right:1px solid #d4d4d5 !important;
}
.topDiv{
  width:70px;
  text-align:center;
}
.bottomDiv{
  position:absolute;
  bottom:0px;
  width:70px;
  text-align:center;
}
.logoIcon{
  margin:10px 0 15px 0;
  cursor:pointer;
  font-weight:bold;
  background:#3f51b5
}
.barIcon{
  margin:10px 0;
  background:#292f4c;
  color:#f0f0f0
}
.userFaceIcon{
  margin:10px 0 0 0;
  cursor:pointer;
  font-weight:bold;
  background:#f4617f
}
.markIcon{
  border-radius:50%;
  width:15px;
  height:15px;
  background:#e44258;
  position:relative;
  bottom:35px;
  border:2px solid #292f4c;
  left:45px
}
.homeIcon{
  border-radius:50%;
  width:18px;
  height:18px;
  position:relative;
  bottom:35px;
  border:1px solid #f0f0f0;
  background:black;
  color:#f0f0f0;
  right:10px;
}