
.DateCell{
  width:0;
}
.timeSelect{
  float:right;
  margin-top:7px;
  width: 96px;
  height: 24px;
}

// .ant-picker-suffix{
//   color:#16191F !important;
// }

.date_div {
  width: 100%;
  display: flex;
  .ant-picker {
    height: 32px;
    padding: 0;
    border: none !important;
  }

  .ant-picker-input{
    font-size: 13px;
  }
  .ant-picker-input > input{
    color:#FFF !important;
  }
  
  .ant-input {
    border: none !important;
    margin: 2px;
    font-weight: 300;
  }
}