.column_header {    
    font-size: 24px;
    font-weight: bold;
    display: flex;
    height: 44px;
    margin-left: -2px;
    margin-bottom: 4px;
    overflow: hidden;
    flex: 1;
}

.column_wrapper {    
    margin: 0px auto 8px;
    display: flex
}

.column_label {    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: text;
}

.column_cell_component_wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;  
}
  
